In [1]:
pip install geopy

Requirement already satisfied: geopy in c:\users\ouolo\anaconda3\lib\site-packages (2.2.0)
Requirement already satisfied: geographiclib<2,>=1.49 in c:\users\ouolo\anaconda3\lib\site-packages (from geopy) (1.52)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas, os

In [3]:
os.listdir()

['.ipynb_checkpoints',
 'address.csv',
 'dataengineer.sql',
 'geopy.ipynb',
 'untitled.txt']

In [25]:
df1=pandas.read_csv("address.csv", sep = ';')
df1

     address_id                  address                  city  postal_code
0             1     318 CHE DE ROUMAGOUA             LA CIOTAT        13600
1             2         19 RUE DES DAMES         SAINTE SAVINE        10300
2             3  22 RUE AMIRAL GUEPRATTE            LE CONQUET        29217
3             4          6 BD DES ETINES             LE COTEAU        42120
4             5      35 AV DU 159EME RIA              BRIANCON         5100
..          ...                      ...                   ...          ...
557         601              20 RUE COLI             MONTREUIL        93100
558         602         6 AV JEAN JAURES                 FEURS        42110
559         603     1 RUE HENRI RENAUDIN  CHARLEVILLE-MEZIERES         8000
560         604            2 RUE DE LYON      EPINAY SUR SEINE        93800
561         605        4 RUE DENIS PAPIN                 BLAIN        44130

[562 rows x 4 columns]

In [5]:
import geopy

In [6]:
from geopy.geocoders import Nominatim

In [20]:
nom = Nominatim(user_agent='amadoune',timeout=10)

In [22]:
n=nom.geocode("Paris", country_codes="fr")
print (n.latitude, n.longitude)

48.8588897 2.3200410217200766

In [26]:
#df1['postal_code']=df1.astype({'postal_code':'str'})
df1["postal_code"]=df1["postal_code"].values.astype('str')
print(df1.dtypes)
df1

address_id      int64
address        object
city           object
postal_code    object
dtype: object

     address_id                  address                  city postal_code
0             1     318 CHE DE ROUMAGOUA             LA CIOTAT       13600
1             2         19 RUE DES DAMES         SAINTE SAVINE       10300
2             3  22 RUE AMIRAL GUEPRATTE            LE CONQUET       29217
3             4          6 BD DES ETINES             LE COTEAU       42120
4             5      35 AV DU 159EME RIA              BRIANCON        5100
..          ...                      ...                   ...         ...
557         601              20 RUE COLI             MONTREUIL       93100
558         602         6 AV JEAN JAURES                 FEURS       42110
559         603     1 RUE HENRI RENAUDIN  CHARLEVILLE-MEZIERES        8000
560         604            2 RUE DE LYON      EPINAY SUR SEINE       93800
561         605        4 RUE DENIS PAPIN                 BLAIN       44130

[562 rows x 4 columns]

In [27]:
df1["address"]=df1["address"]+", "+df1["city"]+", "+df1["postal_code"]+", france"
df1

,address_id,address,city,postal_code
0,1,"318 CHE DE ROUMAGOUA, LA CIOTAT, 13600, france",LA CIOTAT,13600
1,2,"19 RUE DES DAMES, SAINTE SAVINE, 10300, france",SAINTE SAVINE,10300
2,3,"22 RUE AMIRAL GUEPRATTE, LE CONQUET, 29217, fr...",LE CONQUET,29217
3,4,"6 BD DES ETINES, LE COTEAU, 42120, france",LE COTEAU,42120
4,5,"35 AV DU 159EME RIA, BRIANCON, 5100, france",BRIANCON,5100
...,...,...,...,...
557,601,"20 RUE COLI, MONTREUIL, 93100, france",MONTREUIL,93100
558,602,"6 AV JEAN JAURES, FEURS, 42110, france",FEURS,42110
559,603,"1 RUE HENRI RENAUDIN, CHARLEVILLE-MEZIERES, 80...",CHARLEVILLE-MEZIERES,8000
560,604,"2 RUE DE LYON, EPINAY SUR SEINE, 93800, france",EPINAY SUR SEINE,93800
561,605,"4 RUE DENIS PAPIN, BLAIN, 44130, france",BLAIN,44130

In [28]:
#n=nom.geocode("Paris", country_codes="fr")
#print (n.latitude, n.longitude)

df1["coordinates"]=df1["address"].apply(nom.geocode)
df1

,address_id,address,city,postal_code,coordinates
0,1,"318 CHE DE ROUMAGOUA, LA CIOTAT, 13600, france",LA CIOTAT,13600,"(Chemin de Roumagoua, La Fieloula, La Ciotat, ..."
1,2,"19 RUE DES DAMES, SAINTE SAVINE, 10300, france",SAINTE SAVINE,10300,"(Rue des Dames, Sainte-Savine, Troyes, Aube, G..."
2,3,"22 RUE AMIRAL GUEPRATTE, LE CONQUET, 29217, fr...",LE CONQUET,29217,"(Rue Amiral GuÃ©pratte, Le CroaÃ«, Le Conquet, B..."
3,4,"6 BD DES ETINES, LE COTEAU, 42120, france",LE COTEAU,42120,"(Boulevard des Etines, Le Coteau, Roanne, Loir..."
4,5,"35 AV DU 159EME RIA, BRIANCON, 5100, france",BRIANCON,5100,None
...,...,...,...,...,...
557,601,"20 RUE COLI, MONTREUIL, 93100, france",MONTREUIL,93100,"(20, Rue Coli, Ruffins - ThÃ©ophile-Sueur, Mont..."
558,602,"6 AV JEAN JAURES, FEURS, 42110, france",FEURS,42110,None
559,603,"1 RUE HENRI RENAUDIN, CHARLEVILLE-MEZIERES, 80...",CHARLEVILLE-MEZIERES,8000,"(1, Rue Henri Renaudin, La Bosse d'Etion, Char..."
560,604,"2 RUE DE LYON, EPINAY SUR SEINE, 93800, france",EPINAY SUR SEINE,93800,None
561,605,"4 RUE DENIS PAPIN, BLAIN, 44130, france",BLAIN,44130,"(Rue Denis Papin, Zi des BlÃ»chets, La Militais..."

In [29]:
df1["latitude"]=df1["coordinates"].apply(lambda x: x.latitude if x !=None else None)

In [30]:
df1["Longitude"]=df1["coordinates"].apply(lambda x: x.longitude if x !=None else None)

In [31]:
df1

,address_id,address,city,postal_code,coordinates,latitude,Longitude
0,1,"318 CHE DE ROUMAGOUA, LA CIOTAT, 13600, france",LA CIOTAT,13600,"(Chemin de Roumagoua, La Fieloula, La Ciotat, ...",43.197927,5.607635
1,2,"19 RUE DES DAMES, SAINTE SAVINE, 10300, france",SAINTE SAVINE,10300,"(Rue des Dames, Sainte-Savine, Troyes, Aube, G...",48.290905,4.045789
2,3,"22 RUE AMIRAL GUEPRATTE, LE CONQUET, 29217, fr...",LE CONQUET,29217,"(Rue Amiral GuÃ©pratte, Le CroaÃ«, Le Conquet, B...",48.361340,-4.766800
3,4,"6 BD DES ETINES, LE COTEAU, 42120, france",LE COTEAU,42120,"(Boulevard des Etines, Le Coteau, Roanne, Loir...",46.021659,4.092120
4,5,"35 AV DU 159EME RIA, BRIANCON, 5100, france",BRIANCON,5100,None,NaN,NaN
...,...,...,...,...,...,...,...
557,601,"20 RUE COLI, MONTREUIL, 93100, france",MONTREUIL,93100,"(20, Rue Coli, Ruffins - ThÃ©ophile-Sueur, Mont...",48.868459,2.468415
558,602,"6 AV JEAN JAURES, FEURS, 42110, france",FEURS,42110,None,NaN,NaN
559,603,"1 RUE HENRI RENAUDIN, CHARLEVILLE-MEZIERES, 80...",CHARLEVILLE-MEZIERES,8000,"(1, Rue Henri Renaudin, La Bosse d'Etion, Char...",49.773546,4.708829
560,604,"2 RUE DE LYON, EPINAY SUR SEINE, 93800, france",EPINAY SUR SEINE,93800,None,NaN,NaN
561,605,"4 RUE DENIS PAPIN, BLAIN, 44130, france",BLAIN,44130,"(Rue Denis Papin, Zi des BlÃ»chets, La Militais...",47.482766,-1.747235